{% extends 'dashboard/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}
{% load gbif-alert_extras %}

{% block after_messages %}
    <div class="container my-3">
        <div class="row">
            <div class="col-9">
                <h2>
                    {% if observation.verified %}
                        <span class="badge rounded-pill bg-success"><i class="bi bi-check-lg"></i> {% translate "Verified" %}</span>
                    {% else %}
                        <span class="badge rounded-pill bg-danger"><i class="bi bi-x-lg"></i> {% translate "Unverified" %}</span>
                    {% endif %}
                    {% blocktranslate with species=observation.species.display_name_html|safe date=observation.date %}Observation of {{ species }} on {{ date }}{% endblocktranslate %}
                </h2>
            </div>
            <div class="col-3 col-text-end">
                {% if user.is_superuser %}
                    <a class="btn btn-sm btn-danger" href="{{ observation.get_admin_url }}">{% translate "Show observation in the admin section" %}</a>
                {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                {% if can_be_marked_unseen %}
                    <form class="d-inline-block" method="post"
                          action="{% url 'dashboard:actions:mark-observation-as-unseen' %}">
                        {% csrf_token %}
                        <input type="hidden" id="observationId" name="observationId" value="{{ observation.pk }}">
                        <input type="hidden" id="originUrl" name="originUrl" value="{{ origin_url }}">
                        <button type="submit" class="btn btn-warning btn-sm">{% translate "Mark this observation as unseen" %}</button>
                    </form>
                {% endif %}

            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <dl>
                    <dt>{% translate "GBIF ID" %}</dt>
                    <dd><a href="{{ observation.gbif_id|gbif_occurrence_url }}">{{ observation.gbif_id }}</a></dd>

                    <dt>{% translate "Species" %}</dt>
                    <dd>{{ observation.species.display_name_html|safe }}</dd>

                    <dt>{% translate "Individual count" %}</dt>
                    <dd>{{ observation.individual_count }}</dd>

                    <dt>{% translate "Source dataset" %}</dt>
                    <dd>
                        <a href="{{ observation.source_dataset.gbif_dataset_key|gbif_dataset_url }}">{{ observation.source_dataset.name }}</a>
                    </dd>

                    <dt>{% translate "Verified" %}</dt>
                    <dd>
                        {% if observation.verified %}
                            <i class="bi bi-check-circle-fill text-success"></i> {% translate "Yes" %}
                        {% else %}
                            <i class="bi bi-x-circle-fill text-danger"></i> {% translate "No" %}
                        {% endif %}
                        {% if observation.identification_verification_status %}
                            ({{ observation.identification_verification_status }})
                            <i class="bi bi-info-circle text-muted"
                               data-bs-toggle="tooltip"
                               title="{% translate 'The value in parentheses is the raw GBIF identificationVerificationStatus' %}"></i>
                        {% endif %}
                    </dd>

                    <dt>{% translate "Basis of record" %}</dt>
                    <dd>{{ observation.basis_of_record }}</dd>

                    <dt>{% translate "Date" %}</dt>
                    <dd>{{ observation.date }}</dd>

                    <dt>{% translate "Recorded by" %}</dt>
                    <dd>{{ observation.recorded_by }}</dd>

                    {% if observation.references %}
                        <dt>{% translate "References" %}</dt>
                        <dd>{{ observation.references|as_link_if_url }}</dd>
                    {% endif %}

                    <dt>{% translate "First imported during" %}</dt>
                    <dd>{{ observation.initial_data_import }}</dd>
                </dl>
                {% if origin_url %}
                    <a class="btn btn-secondary btn-sm" href="{{ origin_url }}">{% translate "Go back to previous page" %}</a>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div id="single-observation-app" class="card-img-top">
                        <single-observation-map
                                :height="400"
                                :lat="{{ observation.lat|stringformat:"f" }}"
                                :lon="{{ observation.lon|stringformat:"f" }}"
                                :coordinates-uncertainty-in-meters="{{ observation.coordinate_uncertainty_in_meters|stringformat:"f"|default_if_none:"undefined" }}">
                        </single-observation-map>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{% translate "Location" %}</h5>
                        <p class="card-text">
                        {% translate "unknown" as unknown_str %}
                        <dl>
                            <dt>{% translate "Coordinates" %}</dt>
                            <dd>{{ observation.lon }}, {{ observation.lat }}</dd>

                            <dt>{% translate "Coordinates uncertainty" %}</dt>
                            <dd>
                                {% if observation.coordinate_uncertainty_in_meters %}
                                    {% blocktranslate count uncertainty=observation.coordinate_uncertainty_in_meters with displayed=observation.coordinate_uncertainty_in_meters|floatformat %}{{ displayed }} meter{% plural %}{{ displayed }} meters{% endblocktranslate %}<br>
                                    <small><i class="bi bi-info-circle"></i> {% blocktranslate %}the <b>green circle</b> accurately represents the coordinates uncertainty{% endblocktranslate %}</small>
                                {% else %}
                                    {% translate "unknown" %}<br>
                                    <small><i class="bi bi-info-circle"></i> {% blocktranslate %}represented as a 100m <b>red</b> circle{% endblocktranslate %}</small>
                                {% endif %}
                            </dd>

                            <dt>{% translate "Municipality" %}</dt>
                            <dd>{{ observation.municipality|default:unknown_str }}</dd>

                            <dt>{% translate "Locality" %}</dt>
                            <dd>{{ observation.locality|default:unknown_str }}</dd>
                        </dl>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>{% translate "User comments" %}</h2>
                {% for comment in observation.sorted_comments_set.all %}
                    {% include "dashboard/_observation_comment.html" with comment=comment only %}
                {% empty %}
                    <p>{% translate "No comments yet for this observation!" %}</p>
                {% endfor %}

                {% if user.is_authenticated %}
                    <h3>{% translate "New comment" %}</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ new_comment_form|crispy }}
                        <button type="submit" class="btn btn-primary btn-sm">{% translate "Post comment" %}</button>
                    </form>
                {% else %}
                    {% url 'signin' as signin_url %}
                    <p class="alert alert-info"><i class="bi bi-info-circle"></i> {% blocktranslate with signin_url=signin_url next=request.path %}Please <a href="{{ signin_url }}?next={{ next }}">sign in</a> to be able to post comments.{% endblocktranslate %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            initObservationDetailsPage();
            document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(el => new bootstrap.Tooltip(el));
        });
    </script>
{% endblock after_messages %}
