name: Automatic deployment - demo server
on:
  push:
    branches: [ devel ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEV_SERVER_HOST }}
          username: ${{ secrets.DEV_SERVER_USERNAME }}
          key: ${{ secrets.DEV_SERVER_KEY }}
          script: |
            cd gbif-alert-demo.thebinaryforest.net/gbif-alert
            ./deploy_devel.sh
